.CanvasOverlayContainer {
  width: 90%;      /* Общая ширина контейнера от экрана */
  max-width: 900px;        
  position: absolute;
  transform: translateX(-50%);/* Сдвигаем блок обратно влево на половину его собственной ширины */
  justify-content: center;
  z-index: 2;
  top:5%;
  left:50%;
  display: flex;
  
  
  display: flex;
  gap:10px; 
  pointer-events: none; 
}
.CanvasOverlayContainer button {
  flex: 1 1 0;
  min-width: 0;
  pointer-events: auto;
  
  padding: 10px 10px; 
  text-align: center;
  white-space: nowrap;
}
