
/* получается что стартер он для листа потому что тут пагинатор */
body { 
    font-family: Arial;
    margin: 20px;
    background: #0a0a16;
    }
h1 { color:#3498db; }
p{color:#3498db;}
.search { margin: 20px 0; }
.search input { 
    padding: 8px; 
    width: 300px; 
    border: 1px solid #ddd;
}
.airport-card {
    border: 1px solid #eee;
    background:#ddd;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}
.airport-code {
    font-weight: bold;
    color: #3498db;
}
.pagination {
    margin-top: 20px;
}
.pagination a {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    text-decoration: none;
}